<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.custom.header.title | default: page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}
      </h2>
      <h2 class="project-authors">
        <a class="author" href="https://www.linkedin.com/in/alexandermattturner">Alex Turner</a> & <a class="author" href="https://neale.github.io/">Neale Ratzlaff</a>, <a class="author" href="http://web.engr.oregonstate.edu/~tadepall/">Prasad Tadepalli</a>
      </h2>
      {% if page.custom.header.github.is_project_page %}
        <a href="{{page.custom.header.github.repository_url}}" class="btn">View on GitHub</a>
      {% endif %}
      {% if page.custom.header.publications.show_paper %}
        <a href="{{ page.custom.header.publications.paper_url }}" class="btn">Read the Paper</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">This page was created with <a href="https://pages.github.com">GitHub Pages</a> with help from <a href="https://www.linkedin.com/in/chase-denecke-44561a173/">Chase Denecke</a>.</span>
      </footer>
    </main>
  </body>
</html>